<%-include("includes/head")%>
 <link rel="stylesheet" href="/css/product.css" />
 <script src="/js/script.js" defer></script>
</head>
<body>
    <%-include("includes/navigation")%>
    <main class="main">
        <%if(products.length===0){%>
            <h2>No Products found in store</h2>
        <%}else{%>
            <h2>Products Available in store</h2>
            <div class="products">
                 
                <%products.forEach(product=>{%>
                    <div class="product_card">
                        <img alt="<%=product.productName%>" src="<%=product.productImageUrl%>"/>
                            <div class="product_info">
                            <h3 class="product_name" ><%=product.productName%></h3>
                            <%if(product.productDescription.trim().length>100){%>
                                    <h4 class="product_description" ><%=product.productDescription.substring(0,97)%>...<a href="#">read more</a></h4>
                                <%}else{%>
                                    <h4 class="product_description" ><%=product.productDescription%></h4>
                                <%}%>
                                
                            
                        <h4 class="product_price">$<%=product.productPrice%></h3>
                        </div>
                        <div class="product_actions">
                            <button type="button">Purchase now</button>
                        </div>
                    </div>
                <%})%>
            </div>
    <%}%>
    </main>
   
</body>